* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
p {
  margin-bottom: 0 !important;
}
.rotate-icon {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}
.arrow-icon {
  display: inline-block;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(90deg);
}
:root {
  --color-primary: #002d72;
  --color-secondary: #2d2d2d;
  --color-active: #ea6724;
  --color-white: #ffffff;
  --color-mobileMenubg: #fffaf8;
  --color-headerMobile: #fff9f3;
  --color-spanText: #7c7c7c;
  --color-svgArrow: #505673;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #002e7200;
}

::-webkit-scrollbar-track {
  background-color: #fefaf8;
}
.active {
  color: var(--color-active) !important;
}
/* navbar */
header {
  height: 81px;
  margin-top: 50px;
  margin-bottom: 30px !important;
  display: flex;
  align-items: center;
  justify-content: normal;
}
nav {
  max-width: 1170px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 99px;
}
.logo {
  width: 96px;
  height: 81px;
}
.logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.nav_item-ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 63px;
  margin-bottom: 0px !important;
  padding-left: 0;
}
.nav_item-ul-li-a {
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
  color: var(--color-primary);
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
}
.nav_item-ul li.active a {
  color: var(--color-active) !important;
}
.nav_item-ul li a:hover {
  color: var(--color-active) !important;
}
.contact_btn {
  width: 123px;
  height: 42px;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-white);
  line-height: 140%;
  letter-spacing: 0%;
  text-transform: capitalize;
  cursor: pointer;
  text-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    38.41deg,
    #ea6624 36.95%,
    #ea6624 50.94%,
    #eb6f22 58.97%,
    #ef871c 72%,
    #f08d1a 74.71%
  );
  box-shadow: 0px 0px 1px 2px #884b0e33;
  box-shadow: 0px 0px 0px 2px #7c350f33 inset;
  box-shadow: 0px -6px 7.1px 0px #ea6824 inset;
  border: 1px solid #eb6c23;
  border-radius: 10px;
}
.nav_item_for_mobile {
  display: none;
}
.mobile_menu {
  display: none;
}
.dropdown-item {
  color: var(--color-primary) !important;
  padding: 0 !important;
  font-size: 16px !important;
}
.dropdown-menu.show {
  position: absolute !important;
  top: 64% !important;
  left: -61px !important;
  width: 268px !important;
  background: #fef4ee !important;
  border: 0.5px solid var(--color-active) !important;
  margin-top: 0px !important;
  border-radius: 20px !important;
  z-index: 1000 !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
  padding: 16px 30px !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  gap: 10px !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 180% !important;
}
.dropdown-item.active {
  background: #00000000 !important;
  color: var(--color-active) !important;
}
.dropdown-item:hover {
  background: #00000000 !important;
  color: var(--color-active) !important;
}

/* services us hero section */

/* pattern */
.left_background {
  position: absolute;
  top: 140px;
  left: 0;
  z-index: -1;
}
.right_background {
  position: absolute;
  top: 50;
  right: 0;
  z-index: -1;
}
.left_bottom_background {
  position: absolute;
  bottom: -235px;
  left: 0;
  z-index: -1;
}
.left_bottom_background2 {
  position: absolute;
  bottom: -1015px;
  left: 0;
  z-index: -1;
}
.right_bottom_background {
  position: absolute;
  bottom: -372px;
  right: 0;
  z-index: -1;
}
.right_bottom_background2 {
  position: absolute;
  bottom: -842px;
  right: 0;
  z-index: -1;
}
.right_bottom_background3 {
  position: absolute;
  bottom: -1795px;
  right: 0;
  z-index: -1;
}
/* pattern end */
/* services content */
.services_contant {
  max-width: 1170px;
  margin: 50px auto 0 auto;
}

.services-hero-btn {
  margin-top: 30px;
}
.page_head_text {
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--color-primary);
}
.service-subHeader {
  font-weight: 400;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--color-spanText);
  margin-top: 40px;
}
.service-subHeader span {
  font-weight: 600;
}
.services_hero {
  display: flex;
  flex-direction: column;

  gap: 100px;
  margin-top: 80px;
}
.services_hero_details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  /* height: 502px; */
}

.services_hero_details2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}
.assist_details_ul {
  margin-bottom: 0 !important;
}
.extra-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  color: var(--color-spanText);
  margin-top: 8px;
}
.services_hero_details_left {
  width: 470px;
  height: 502px;
  gap: 20px;
}
.services_hero_details_left img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.services_hero_details_right {
  width: 670px;
}

.services_hero_details_right_title {
  font-weight: 600;
  font-size: 30px;
  line-height: 160%;
  letter-spacing: 0%;
  color: var(--color-primary);
  text-wrap: nowrap;
}
.services_hero_details__right_description {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  color: var(--color-secondary);
  margin-top: 30px;
}
.services_hero_details__right_description span {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
}
.assist_details {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
}
.assist_details_li {
  margin-top: 8px;
}
.services_hero_details_mobile {
  display: none;
}

/* footer section */
footer {
  margin-top: 150px;
  background-color: var(--color-mobileMenubg);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  height: 441px;
  position: relative;
}
.bg-footer-pattern {
  border-top-right-radius: 80px;
  position: absolute;
  top: 0;
  right: 0;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto;
  gap: 40px;
  height: calc(441px - 94px);
}
.footer-left {
  flex: 1;
  /* min-width: 300px; */
}
.footer_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer_logo img {
  width: 128px;
  height: 110px;
  top: 119px;
  left: 135px;
}
.footer_logo h2 {
  font-weight: 600;
  font-size: 24px;
}
.footer_quick_text {
  font-weight: 600;
  font-size: 22px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #141933;
}
.footer_quick_links ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 63px;
  row-gap: 30px;
  margin-top: 30px;
}
.footer_quick_links ul li a {
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  text-wrap: nowrap;
}
.social-links {
  position: relative;
  z-index: 999;
}
.social-links1 {
  display: none;
}
.contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  color: var(--color-secondary);
}
.icons {
  margin-top: 28px;
  font-size: 20px;
  margin-right: 15px;
  transition: 0.3s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 22px;
}
.footer-bottom {
  border-top: 1px solid var(--color-active);
}
.footer-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  height: 94px;
}
.footer_bottom_p {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  color: var(--color-secondary);
}
.scroll-top {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid var(--color-active);
  text-decoration: none;
  color: var(--color-active);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 375px) and (max-width: 480px) {
  header {
    width: 375px;
    height: 101px;
    margin-top: 0;
    background: var(--color-headerMobile);
    margin-bottom: 0 !important;
    align-items: end;
  }
  nav {
    width: 375px;
    height: 50px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
  }
  .logo {
    width: 49px;
    height: 42px;
  }
  .nav-btn {
    display: none;
  }
  .nav_item-ul {
    display: none;
  }
  .nav_item_for_mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
  }
  .nav_item_for_mobile svg {
    cursor: pointer;
  }
  .dropdown-menu.show {
    top: 38% !important;
    left: -45px !important;
    align-items: baseline;
  }
  /* Sidebar Menu Styles */
  .mobile_menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    /* background-image: url(../images/home-page-images/hero-area-mobile.png); */
    background-color: var(--color-mobileMenubg);
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 999;
  }
  .mobile_footer_pattarn {
    position: absolute;
    top: 0;
    right: 0;
  }
  .mobile_menu.open {
    left: 0;
  }
  .menu_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    padding-top: 15px;
  }
  .mobile-logo {
    width: 66px;
  }
  .close_btn {
    cursor: pointer;
  }
  .menu_list {
    list-style: none;
    padding: 53px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
    z-index: 999;
  }
  .menu_list li {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    color: var(--color-primary);
  }
  .menu_list li a {
    list-style: none;
    text-decoration: none;
    color: var(--color-primary);
  }
  .menu_list li.active a {
    color: var(--color-active);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
  /* pattern start */
  .left_background {
    height: 100px;
  }
  .right_background {
    height: 100px;
  }
  .left_bottom_background {
    height: 100px;
  }
  .left_bottom_background2 {
    height: 100px;
  }
  .right_bottom_background {
    height: 100px;
  }
  .right_bottom_background2 {
    height: 100px;
  }
  .right_bottom_background3 {
    height: 100px;
  }
  .extra-text {
    font-size: 14px;
  }
  /* services content */
  .services_contant {
    max-width: 343px;
    margin: 30px auto 0 auto;
  }
  .services-hero-btn {
    margin-top: 20px;
  }
  .services_hero_details2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
  }
  .services_hero_details_mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .page_head_text {
    font-size: 30px;
  }
  .service-subHeader {
    width: 343px;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 30px;
    line-height: 150%;
  }
  .service-subHeader span {
    font-weight: 600;
  }
  .services_hero {
    gap: 40px;
    margin-top: 30px;
    align-items: center;
  }
  .services_hero_details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 17px;
    gap: 20px;
    width: 343px;
  }

  .services_hero_details_left {
    width: 343px;
    height: 352px;
    border-radius: 16px;
  }
  .services_hero_details_right_title {
    font-size: 21px;
    width: 343px;
    text-wrap: wrap;
  }
  .services_hero_details_right {
    width: 343px;
  }
  .services_hero_details_right_para {
    font-size: 14px;
  }
  .services_hero_details_right_para span {
    font-weight: 400;
    font-size: 30px;
  }
  .services_hero_details__right_description {
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
    color: var(--color-secondary);
    margin-top: 8px;
  }
  .assist_details {
    font-size: 14px;
  }
  .assist_details_li {
    margin-top: 6px;
  }
  .services_hero_details__right_description span {
    font-weight: 600;
    font-size: 14px;
  }

  /* footer section */
  footer {
    margin-top: 50px;
    background-color: var(--color-mobileMenubg);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 548px !important;
    position: relative;
  }
  .bg-footer-pattern {
    border-top-right-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 344px;
    margin: 0 auto;
    gap: 14px;
    height: calc(499px - 64px);
    padding: 24px 22px;
  }
  .footer-left {
    flex: 1;
    /* min-width: 300px; */
  }
  .footer_logo {
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 99;
    position: relative;
  }
  .footer_logo img {
    width: 151px;
    height: 124px;
  }
  .footer_logo h2 {
    font-weight: 600;
    font-size: 24px;
  }
  .footer_quick_text {
    font-size: 20px;
    margin-top: 36px;
  }
  .footer_quick_links {
    z-index: 999;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer_quick_links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 46px;
    row-gap: 16px;
    margin-top: 20px;
  }
  .footer_quick_links ul li a {
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    text-wrap: nowrap;
  }
  .social-links1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    position: relative;
  }
  .social-links {
    display: none;
    position: relative;
    z-index: 999;
  }
  .contact {
    font-size: 12px;
  }
  .icons {
    margin-top: 12px;
    font-size: 30px;
    margin-right: 15px;
    transition: 0.3s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;
  }
  .icons img {
    height: 30px;
    width: 30px;
  }
  .footer-bottom {
    margin-top: 30px;
    border-top: 1px solid var(--color-active);
  }
  .footer-bottom-container {
    max-width: 344px;
    height: 64px;
    display: flex;
    justify-content: center;
  }
  .footer_bottom_p {
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
    color: var(--color-secondary);
  }
  .scroll-top {
    display: none;
  }
}
