* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
p {
  margin-bottom: 0 !important;
}
.rotate-icon {
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}
.arrow-icon {
  display: inline-block;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(90deg); /* rotate right to down */
}
:root {
  --color-primary: #002d72;
  --color-secondary: #2d2d2d;
  --color-active: #ea6724;
  --color-white: #ffffff;
  --color-mobileMenubg: #fffaf8;
  --color-headerMobile: #fff9f3;
  --color-spanText: #7c7c7c;
}
html {
  scroll-behavior: smooth;
  scrollbar-color: #002d72 #fefaf8;
  /* :#fefaf8 ; */
}
.active {
  color: var(--color-active) !important;
}
/* navbar */
header {
  height: 81px;
  margin-top: 50px;
  margin-bottom: 30px !important;
}
.logo img {
  width: 94px;
  height: 78px;
}
nav {
  max-width: 1170px;
  height: 68px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_item {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 32px;
}
.nav_item-ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 76px;
  margin-bottom: 0px !important;
}
.nav_item-ul-li-a {
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
  color: var(--color-primary);
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
}
.nav_item-ul li.active a {
  color: var(--color-active) !important;
}
.nav-btn {
  display: inline;
}
.contact_btn {
  width: 122px;
  height: 42px;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-white);
  line-height: 140%;
  letter-spacing: 0%;
  text-transform: capitalize;
  cursor: pointer;
  text-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    38.41deg,
    #ea6624 36.95%,
    #ea6624 50.94%,
    #eb6f22 58.97%,
    #ef871c 72%,
    #f08d1a 74.71%
  );
  box-shadow: 0px 0px 1px 2px #884b0e33;
  box-shadow: 0px 0px 0px 2px #7c350f33 inset;
  box-shadow: 0px -6px 7.1px 0px #ea6824 inset;
  border: 1px solid #eb6c23;
  border-radius: 10px;
}
.nav_item_for_mobile {
  display: none;
}
.mobile_menu {
  display: none;
}
.dropdown-item {
  color: var(--color-primary) !important;
}
.dropdown-menu.show {
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  background: #fef4ee !important;
  border: 0.5px solid var(--color-active) !important;
  margin-top: 0px !important;
  border-radius: 20px !important;
  z-index: 1000 !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1) !important;
  padding: 16px 30px !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 10px !important;
}
.dropdown-item.active {
  background: #00000000 !important;
  color: var(--color-active) !important;
}
.dropdown-item:hover {
  background: #00000000 !important;
}
.dropdown-item {
  padding: 0 !important;
}
/* hero */
.hero {
  background-image: url(./../images/home-page-images/hero-area.png);
  max-width: 1170px;
  height: 684px;
  margin: 0 auto;
  border-radius: 16px;
  padding: 80px 21px;
  display: flex;
  justify-content: space-between;
  align-items: normal;
}
.left_background {
  position: absolute;
  top: 140px;
  left: 0;
  z-index: -1;
}
.right_background {
  position: absolute;
  top: 50;
  right: 0;
  z-index: -1;
}
.left_bottom_background {
  position: absolute;
  bottom: -75px;
  left: 0;
  z-index: -1;
}
.right_bottom_background {
  position: absolute;
  bottom: -146px;
  right: 0;
  z-index: -1;
}
.hero_left {
  width: 606px;
  height: 475px;
}
.hero_head_text {
  font-size: 60px;
  font-weight: 600;
  line-height: 108%;
  color: var(--color-primary);
}
.hero_head_text span {
  font-size: 48px;
  font-weight: 600;
  color: var(--color-spanText);
}
.hero_details {
  font-size: 15px;
  font-weight: 400;
  line-height: 160%;
  color: var(--color-secondary);
  margin-top: 40px !important;
  margin-bottom: 32px !important;
}
.hero_right {
  width: 434px;
  height: 524px;
  border-radius: 16px;
}
.book_btn {
  width: 182px;
  height: 42px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  color: var(--color-white);
  text-transform: capitalize;
  cursor: pointer;
  text-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    38.41deg,
    #ea6624 36.95%,
    #ea6624 50.94%,
    #eb6f22 58.97%,
    #ef871c 72%,
    #f08d1a 74.71%
  );
  box-shadow: 0px 0px 1px 2px #884b0e33;
  box-shadow: 0px 0px 0px 2px #7c350f33 inset;
  box-shadow: 0px -6px 7.1px 0px #ea6824 inset;
  border: 1px solid #eb6c23;
  border-radius: 10px;
}
.stats {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  gap: 24px;
}
.stat {
  text-align: center;
  width: 186px;
  height: 67px;
}
.stat_number {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  align-items: center;
}
.stat_number p {
  font-size: 32px;
  font-weight: 300;
  color: var(--color-primary);
  margin-bottom: 0 !important;
}
.stat_p {
  color: var(--color-spanText);
  font-size: 16px;
  font-weight: 400;
  text-align: start;
}

/* tour and visa section */
.tour_and_visa_section {
  margin-top: 150px !important;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  gap: 55px;
  height: 911px;
}
.tour_visa_bar {
  border-right: 1px dashed #bbbbbb;
}
.tour-packages,
.visa-requirements {
  flex: 1;
  max-width: 530px;
}
.tour_visa_header {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-primary);
  margin-bottom: 40px !important;
}
.tour_visa_card {
  height: 255px;
  width: 530px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  margin-bottom: 20px !important;
}
.tour_visa_card_img {
  width: 530px;
  height: 142px;
  border-radius: 12px;
}
.tour_visa_card_img img {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.tour_visa_card_content {
  margin-top: 12px;
  margin-bottom: 16px !important;
}
.tour_visa_card_title {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-primary);
  margin-bottom: 10px !important;
}
.tour_visa_card_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0%;
  color: var(--color-secondary);
  margin-bottom: 0px !important;
}
.tour_visa_card_description span {
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-active);
}
.tour_visa_search_box {
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 12px 0px #0d0a2c0f;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 20px !important;
  height: 60px;
}
.tour_visa_search_box input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-primary);
}
input:focus {
  outline: none;
}
.tour_visa_search_box input {
  flex: 1;
  border: none;
  padding: 0px 16px;
  font-size: 14px;
}
.search_icon {
  background: linear-gradient(
    38.41deg,
    #ea6624 36.95%,
    #ea6624 50.94%,
    #eb6f22 58.97%,
    #ef871c 72%,
    #f08d1a 74.71%
  );
  height: 60px;
  width: 60px;
  border: none;
  cursor: pointer;
  border-bottom-left-radius: 32px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.visa_left_background {
  position: absolute;
  top: 1300px;
  right: 0;
}
.country-list {
  /* border: 1px solid red; */
  list-style: none;
  padding-left: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  height: 711px;
  overflow-y: hidden;
}
.country-list-li {
  border-radius: 7px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 12px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: var(--color-primary);
  background-color: white;
  letter-spacing: 0%;
  cursor: pointer;
  transition: background 0.2s;
  z-index: 99;
  position: relative;
}
.collaspe-headline {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-secondary);
  padding: 0 12px;
}
.collaspe-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  color: var(--color-secondary);
  list-style-type: circle;
}
.collapse-ul {
  margin-top: 20px;
  margin-bottom: 0 !important;
}
.collaspe-list-text span {
  font-weight: 600;
  font-size: 14px;
  line-height: 180%;
  color: var(--color-active);
}
.accordion-item {
  border: none !important;
}
.accordion-body {
  padding: 0 !important;
  background: white !important;
  backdrop-filter: url() !important;
}

/* other service section */
.other_service {
  margin-top: 150px !important;
  max-width: 1170px;
  margin: 0 auto;
  /* position: relative; */
}
.other_service_head_text {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
  color: var(--color-primary);
}
.other_service_right_background {
  position: absolute;
  top: 2131px;
  right: 0;
  z-index: -1;
}
.other_service_details {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.other_service_card {
  width: 570px;
  height: 214px;
  border-radius: 20px;
  border-width: 0.5px;
  border: 0.5px solid var(--color-active);
  padding: 37px 28px;
  background: var(--color-headerMobile);
}
.other_service_card_head_text {
  font-weight: 600;
  font-size: 24px;
  line-height: 160%;
  letter-spacing: 0%;
  color: var(--color-primary);
}
.other_service_card_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0%;
  color: var(--color-secondary);
  margin-top: 22px;
}
/* about section */
.about_section {
  background: #edfbff;
  position: relative;
}
.about_container {
  margin-top: 150px !important;
  max-width: 1170px;
  margin: 0 auto;
  padding: 40px 0;
}
.about_details {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 29px;
  margin-top: 40px;
}
.about_left {
  width: 470px;
  height: 523px;
  border-radius: 8px;
}
.about_left img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.about_right {
  width: 670px;
}
.about_right_text {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0%;
  color: var(--color-secondary);
}
.about_right_text span {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0%;
  color: var(--color-secondary);
}
.about_left_background {
  position: absolute;
  bottom: -189px;
  left: 0;
  z-index: -1;
}
.about_right_background {
  position: absolute;
  bottom: -300px;
  right: 0;
  z-index: -1;
}

/* footer section */
footer {
  margin-top: 150px;
  background-color: var(--color-mobileMenubg);
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
  height: 441px;
  position: relative;
}
.bg-footer-pattern {
  border-top-right-radius: 80px;
  position: absolute;
  top: 0;
  right: 0;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1170px;
  margin: 0 auto;
  gap: 40px;
  height: calc(441px - 94px);
}
.footer-left {
  flex: 1;
  /* min-width: 300px; */
}
.footer_logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer_logo img {
  width: 128px;
  height: 110px;
  top: 119px;
  left: 135px;
}
.footer_logo h2 {
  font-weight: 600;
  font-size: 24px;
}
.footer_quick_text {
  font-weight: 600;
  font-size: 22px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #141933;
}
.footer_quick_links ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 63px;
  row-gap: 30px;
  margin-top: 30px;
}
.footer_quick_links ul li a {
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  text-wrap: nowrap;
}
.social-links {
  position: relative;
  z-index: 999;
}
.social-links1 {
  display: none;
}
.contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  color: var(--color-secondary);
}
.icons {
  margin-top: 28px;
  font-size: 20px;
  margin-right: 15px;
  transition: 0.3s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 22px;
}
.footer-bottom {
  border-top: 1px solid var(--color-active);
}
.footer-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  height: 94px;
}
.footer_bottom_p {
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  color: var(--color-secondary);
}
.scroll-top {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid var(--color-active);
  text-decoration: none;
  color: var(--color-active);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 375px) and (max-width: 480px) {
  header {
    height: 101px;
    margin-top: 0;
    background: var(--color-headerMobile);
    margin-bottom: 0 !important;
  }
  nav {
    max-width: 480px;
    height: 50px;
    margin: 0 auto;
    padding: 55px 11px 11px 16px;
  }
  .nav-btn {
    display: none;
  }
  .logo img {
    margin-top: 20px;
    width: 49px;
    height: 40px;
  }
  .nav_item {
    display: none;
  }
  .nav_item_for_mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
  }
  .nav_item_for_mobile svg {
    cursor: pointer;
  }
  .dropdown-menu.show {
    top: 38% !important;
    left: -45px !important;
    align-items: baseline;
  }
  /* Sidebar Menu Styles */
  .mobile_menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    /* background-image: url(../images/home-page-images/hero-area-mobile.png); */
    background-color: var(--color-mobileMenubg);
    box-shadow: 4px 0 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 999;
  }
  .mobile_footer_pattarn {
    position: absolute;
    top: 0;
    right: 0;
  }
  .mobile_menu.open {
    left: 0;
  }
  .menu_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    padding-top: 15px;
  }
  .mobile-logo {
    width: 66px;
  }
  .close_btn {
    cursor: pointer;
  }
  .menu_list {
    list-style: none;
    padding: 53px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
    z-index: 999;
  }
  .menu_list li {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
    color: var(--color-primary);
  }
  .menu_list li a {
    list-style: none;
    text-decoration: none;
    color: var(--color-primary);
  }
  .menu_list li.active a {
    color: var(--color-active);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
  /* hero section */
  .left_background {
    display: none;
  }
  .right_background {
    display: none;
  }
  .hero_right {
    display: none;
  }
  .hero {
    background-image: url(../images/home-page-images/hero-area-mobile.png);
    margin-top: 20px;
    max-width: 343px;
    height: 389px;
    padding: 16px;
    border-radius: 5px;
  }
  .hero_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 325px;
  }
  .hero_head_text {
    margin-top: 18px;
    font-size: 40px;
    text-align: center;
  }
  .hero_head_text span {
    font-size: 29px;
  }
  .hero_details {
    font-size: 14px;
    margin-top: 0px !important;
    width: 292px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 160%;
    color: var(--color-secondary);
    margin-bottom: 0px !important;
  }
  .book_btn {
    height: 40px;
    width: 161px;
    border-radius: 4px;
    font-size: 14px;
    margin-top: 18px;
  }
  .stats {
    margin-top: 30px;
    gap: 30px;
  }
  .stat {
    text-align: center;
    width: 81px;
    height: 53px;
  }
  .stat_number {
    justify-content: center;
    gap: 8px;
  }
  .stat_number p {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0 !important;
  }
  .stat_number svg {
    height: 16px;
    width: 15px;
  }
  .stat_p {
    font-size: 12px;
    text-align: start;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
  /* tour and visa section */
  .tour_and_visa_section {
    max-width: 343px;
    margin: 50px auto 0 auto !important;
    display: flex;
    flex-direction: column;
    gap: 55px;
  }
  .tour_visa_bar {
    border-right: 1px dashed #bbbbbb;
    display: none;
  }
  .tour-packages,
  .visa-requirements {
    flex: 1;
    max-width: 343px;
  }

  .country-content {
    display: none;
    margin-left: 30px;
    color: #002d72;
    font-weight: 500;
  }
  .country-item.expanded .country-content {
    display: block;
  }
  .country-item .arrow-icon {
    cursor: pointer;
    transition: transform 0.2s;
  }
  .country-item.expanded .arrow-icon {
    transform: rotate(90deg);
  }
  .country-item {
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
  }

  .tour_visa_header {
    font-size: 26px;
    margin-bottom: 24px !important;
    text-align: center;
  }
  .tour_visa_card {
    height: 241px;
    width: 343px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-bottom: 16px !important;
    background: #fefefe;
  }
  .tour_visa_card_img {
    width: 343px;
    height: 142px;
    border-radius: 10px;
  }
  .tour_visa_card_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .tour_visa_card_content {
    margin-top: 12px;
    margin-bottom: 0px !important;
  }
  .tour_visa_card_title {
    font-size: 20px;
  }
  .tour_visa_card_description {
    font-size: 14px;
    margin-top: 10px;
  }
  .tour_visa_card_description span {
    font-size: 15px;
  }
  .tour_visa_search_box {
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 12px 0px #0d0a2c0f;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px !important;
    height: 48px;
  }
  .tour_visa_search_box input::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--color-primary);
  }
  input:focus {
    outline: none;
  }
  .tour_visa_search_box input {
    flex: 1;
    border: none;
    padding: 0px 16px;
    font-size: 14px;
  }
  .search_icon {
    background: linear-gradient(
      38.41deg,
      #ea6624 36.95%,
      #ea6624 50.94%,
      #eb6f22 58.97%,
      #ef871c 72%,
      #f08d1a 74.71%
    );
    height: 45px;
    width: 45px;
    border: none;
    cursor: pointer;
    border-bottom-left-radius: 32px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .visa_left_background {
    position: absolute;
    top: 1300px;
    right: 0;
  }
  .country-list {
    list-style: none;
    padding-left: 0;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
  .country-list-li {
    font-size: 20px;
  }

  /* other service section */
  .other_service {
    margin-top: 50px !important;
    max-width: 343px;
    margin: 0 auto;
  }
  .other_service_head_text {
    font-size: 26px;
  }
  .other_service_right_background {
    position: absolute;
    top: 2131px;
    right: 0;
    z-index: -1;
  }
  .other_service_details {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .other_service_card {
    width: 343px;
    height: 172px;
    border-radius: 8px;
    border: 1px solid var(--color-active);
    padding: 16px 16px;
    background: var(--color-headerMobile);
  }
  .other_service_card_head_text {
    font-size: 20px;
  }
  .other_service_card_text {
    font-size: 13px;
    margin-top: 10px;
  }

  /* about section */
  .about_container {
    margin-top: 50px !important;
    max-width: 343px;
    margin: 0 auto;
    padding: 20px 0;
  }
  .about_details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 29px;
    margin-top: 25px;
  }
  .about_left {
    width: 344px;
    height: 382px;
    border-radius: 8px;
  }
  .about_left img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .about_right {
    width: 344px;
  }
  .about_left_background {
    display: none;
  }
  .about_right_background {
    display: none;
  }

  /* footer section */
  footer {
    margin-top: 50px;
    background-color: var(--color-mobileMenubg);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 499px;
    position: relative;
  }
  .bg-footer-pattern {
    border-top-right-radius: 20px;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 344px;
    margin: 0 auto;
    gap: 14px;
    height: calc(499px - 64px);
    padding: 24px 22px;
  }
  .footer-left {
    flex: 1;
    /* min-width: 300px; */
  }
  .footer_logo {
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 99;
    position: relative;
  }
  .footer_logo img {
    width: 151px;
    height: 124px;
  }
  .footer_logo h2 {
    font-weight: 600;
    font-size: 24px;
  }
  .footer_quick_text {
    font-size: 20px;
    margin-top: 36px;
  }
  .footer_quick_links {
    z-index: 999;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer_quick_links ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 46px;
    row-gap: 16px;
    margin-top: 20px;
  }
  .footer_quick_links ul li a {
    color: var(--color-secondary);
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0%;
    text-wrap: nowrap;
  }
  .social-links1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    position: relative;
  }
  .social-links {
    display: none;
    position: relative;
    z-index: 999;
  }
  .contact {
    font-size: 12px;
  }
  .icons {
    margin-top: 12px;
    font-size: 30px;
    margin-right: 15px;
    transition: 0.3s;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;
  }
  .icons img {
    height: 30px;
    width: 30px;
  }
  .footer-bottom {
    border-top: 1px solid var(--color-active);
  }
  .footer-bottom-container {
    max-width: 344px;
    height: 64px;
    display: flex;
    justify-content: center;
  }
  .footer_bottom_p {
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0%;
    color: var(--color-secondary);
  }
  .scroll-top {
    display: none;
  }
}
