* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}
.thumbnail {
  background: #acaeac;
  width: 446px;
  border: 1px solid rgb(117, 117, 124);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
.thumbnail-content {
  padding: 10px 12px;
}
.thumbnail_img {
  width: 444px;
  height: 260px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.thumbnail_img img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.thumbnail-headline {
  font-family: Poppins;
  font-weight: 600;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0%;
  color: #ffffff;
}

.thumbnail_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #ffffff;
}
